.nav-list-item a {
  color: #0070C0 !important;
}

.nav-list-item a:visited {
  color: #0070C0 !important;
}
nav.breadcrumb-nav a {
  color: #0070C0 !important;
}
.main-content a {
  color: #0070C0 !important;
}

.main-content a:visited {
  color: #0070C0 !important;
}
